pipeline/pipelineAppendVariableSetVariableDemo.json
{
	"name": "pipelineAppendVariableSetVariableDemo",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "marks",
					"value": {
						"value": "80",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total",
					"value": {
						"value": "@variables('marks')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"marks": {
				"type": "Array",
				"defaultValue": [
					10,
					20,
					30,
					10
				]
			},
			"total": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}