pipeline/pipelineScriptActivity.json
{
	"name": "pipelineScriptActivity",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "id",
									"type": "Int16",
									"value": "10",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "select * from dbo.emp where empid = @id;\ndeclare @msg nvarchar(20);\nset @msg = 'hurray';\nprint @msg;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"logSettings": {
						"logDestination": "ActivityOutput"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "name",
					"value": {
						"value": "@activity('Script1').output.resultSets[0].rows[0].empname",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}