trail101ADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "trail101ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/blobFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "movies_metadata.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "adult",
						"type": "String"
					},
					{
						"name": "belongs_to_collection",
						"type": "String"
					},
					{
						"name": "budget",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "homepage",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "imdb_id",
						"type": "String"
					},
					{
						"name": "original_language",
						"type": "String"
					},
					{
						"name": "original_title",
						"type": "String"
					},
					{
						"name": "overview",
						"type": "String"
					},
					{
						"name": "popularity",
						"type": "String"
					},
					{
						"name": "poster_path",
						"type": "String"
					},
					{
						"name": "production_companies",
						"type": "String"
					},
					{
						"name": "production_countries",
						"type": "String"
					},
					{
						"name": "release_date",
						"type": "String"
					},
					{
						"name": "revenue",
						"type": "String"
					},
					{
						"name": "runtime",
						"type": "String"
					},
					{
						"name": "spoken_languages",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "tagline",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "video",
						"type": "String"
					},
					{
						"name": "vote_average",
						"type": "String"
					},
					{
						"name": "vote_count",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/citiesTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "cityid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cityname",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "cities"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "employee_data.csv",
						"container": "storagecontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/customerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine1",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine2",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/deleteFileBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "countries22.csv",
						"container": "input"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/departmenTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "deptid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "deptname",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "department"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsMovieRatings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MovieRatings.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sno",
						"type": "String"
					},
					{
						"name": "movie",
						"type": "String"
					},
					{
						"name": "releasedate",
						"type": "String"
					},
					{
						"name": "rating",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsratings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "outdataflow"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emptable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "emp"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/out10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "out10"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/output2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ref_no",
						"type": "nvarchar"
					},
					{
						"name": "period",
						"type": "decimal",
						"precision": 8,
						"scale": 4
					},
					{
						"name": "datavalue",
						"type": "int",
						"precision": 10
					},
					{
						"name": "emp_status",
						"type": "char"
					},
					{
						"name": "emp_subject",
						"type": "nvarchar"
					},
					{
						"name": "emp_group",
						"type": "nvarchar"
					},
					{
						"name": "emp_series1",
						"type": "nvarchar"
					},
					{
						"name": "emp_series2",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "emp"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowFlowLetDemo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sourceEmployee"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flowlet1",
							"flowlet": {
								"referenceName": "flowletRemoveDuplicates",
								"type": "DataFlowReference",
								"parameters": {}
							}
						},
						{
							"name": "derivedColumnDummy"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EmployeeID as short,",
						"          Name as string,",
						"          Role as string,",
						"          Salary as float,",
						"          City as string",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     container: 'input',",
						"     fileName: 'Employees.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> sourceEmployee",
						"derivedColumnDummy compose(mapColumn(",
						"          employeeID = EmployeeID,",
						"          empName = Name,",
						"          empRole = Role,",
						"          empSalary = Salary,",
						"          empCity = City,",
						"          country = dummyCountry,",
						"          population = dummyPopluation",
						"     ),",
						"     composition: 'flowletRemoveDuplicates') ~> flowlet1@(output1)",
						"sourceEmployee derive(dummyCountry = 'country',",
						"          dummyPopluation = 'population') ~> derivedColumnDummy",
						"flowlet1@output1 select(mapColumn(",
						"          employeeID,",
						"          empName,",
						"          empRole,",
						"          empSalary,",
						"          empCity",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          adult as string,",
						"          belongs_to_collection as string,",
						"          budget as string,",
						"          genres as string,",
						"          homepage as string,",
						"          id as string,",
						"          imdb_id as string,",
						"          original_language as string,",
						"          original_title as string,",
						"          overview as string,",
						"          popularity as string,",
						"          poster_path as string,",
						"          production_companies as string,",
						"          production_countries as string,",
						"          release_date as string,",
						"          revenue as string,",
						"          runtime as string,",
						"          spoken_languages as string,",
						"          status as string,",
						"          tagline as string,",
						"          title as string,",
						"          video as string,",
						"          vote_average as string,",
						"          vote_count as string,",
						"          {_c24} as string",
						"     ),",
						"     format: 'delimited',",
						"     container: 'output2',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     partitionFileNames:['UniqueEmployee'],",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonContinent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "continent.json",
						"container": "jsoninput"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"BD": {
							"type": "string"
						},
						"BE": {
							"type": "string"
						},
						"BF": {
							"type": "string"
						},
						"BG": {
							"type": "string"
						},
						"BA": {
							"type": "string"
						},
						"BB": {
							"type": "string"
						},
						"WF": {
							"type": "string"
						},
						"BL": {
							"type": "string"
						},
						"BM": {
							"type": "string"
						},
						"BN": {
							"type": "string"
						},
						"BO": {
							"type": "string"
						},
						"BH": {
							"type": "string"
						},
						"BI": {
							"type": "string"
						},
						"BJ": {
							"type": "string"
						},
						"BT": {
							"type": "string"
						},
						"JM": {
							"type": "string"
						},
						"BV": {
							"type": "string"
						},
						"BW": {
							"type": "string"
						},
						"WS": {
							"type": "string"
						},
						"BQ": {
							"type": "string"
						},
						"BR": {
							"type": "string"
						},
						"BS": {
							"type": "string"
						},
						"JE": {
							"type": "string"
						},
						"BY": {
							"type": "string"
						},
						"BZ": {
							"type": "string"
						},
						"RU": {
							"type": "string"
						},
						"RW": {
							"type": "string"
						},
						"RS": {
							"type": "string"
						},
						"TL": {
							"type": "string"
						},
						"RE": {
							"type": "string"
						},
						"TM": {
							"type": "string"
						},
						"TJ": {
							"type": "string"
						},
						"RO": {
							"type": "string"
						},
						"TK": {
							"type": "string"
						},
						"GW": {
							"type": "string"
						},
						"GU": {
							"type": "string"
						},
						"GT": {
							"type": "string"
						},
						"GS": {
							"type": "string"
						},
						"GR": {
							"type": "string"
						},
						"GQ": {
							"type": "string"
						},
						"GP": {
							"type": "string"
						},
						"JP": {
							"type": "string"
						},
						"GY": {
							"type": "string"
						},
						"GG": {
							"type": "string"
						},
						"GF": {
							"type": "string"
						},
						"GE": {
							"type": "string"
						},
						"GD": {
							"type": "string"
						},
						"GB": {
							"type": "string"
						},
						"GA": {
							"type": "string"
						},
						"SV": {
							"type": "string"
						},
						"GN": {
							"type": "string"
						},
						"GM": {
							"type": "string"
						},
						"GL": {
							"type": "string"
						},
						"GI": {
							"type": "string"
						},
						"GH": {
							"type": "string"
						},
						"OM": {
							"type": "string"
						},
						"TN": {
							"type": "string"
						},
						"JO": {
							"type": "string"
						},
						"HR": {
							"type": "string"
						},
						"HT": {
							"type": "string"
						},
						"HU": {
							"type": "string"
						},
						"HK": {
							"type": "string"
						},
						"HN": {
							"type": "string"
						},
						"HM": {
							"type": "string"
						},
						"VE": {
							"type": "string"
						},
						"PR": {
							"type": "string"
						},
						"PS": {
							"type": "string"
						},
						"PW": {
							"type": "string"
						},
						"PT": {
							"type": "string"
						},
						"SJ": {
							"type": "string"
						},
						"PY": {
							"type": "string"
						},
						"IQ": {
							"type": "string"
						},
						"PA": {
							"type": "string"
						},
						"PF": {
							"type": "string"
						},
						"PG": {
							"type": "string"
						},
						"PE": {
							"type": "string"
						},
						"PK": {
							"type": "string"
						},
						"PH": {
							"type": "string"
						},
						"PN": {
							"type": "string"
						},
						"PL": {
							"type": "string"
						},
						"PM": {
							"type": "string"
						},
						"ZM": {
							"type": "string"
						},
						"EH": {
							"type": "string"
						},
						"EE": {
							"type": "string"
						},
						"EG": {
							"type": "string"
						},
						"ZA": {
							"type": "string"
						},
						"EC": {
							"type": "string"
						},
						"IT": {
							"type": "string"
						},
						"VN": {
							"type": "string"
						},
						"SB": {
							"type": "string"
						},
						"ET": {
							"type": "string"
						},
						"SO": {
							"type": "string"
						},
						"ZW": {
							"type": "string"
						},
						"SA": {
							"type": "string"
						},
						"ES": {
							"type": "string"
						},
						"ER": {
							"type": "string"
						},
						"ME": {
							"type": "string"
						},
						"MD": {
							"type": "string"
						},
						"MG": {
							"type": "string"
						},
						"MF": {
							"type": "string"
						},
						"MA": {
							"type": "string"
						},
						"MC": {
							"type": "string"
						},
						"UZ": {
							"type": "string"
						},
						"MM": {
							"type": "string"
						},
						"ML": {
							"type": "string"
						},
						"MO": {
							"type": "string"
						},
						"MN": {
							"type": "string"
						},
						"MH": {
							"type": "string"
						},
						"MK": {
							"type": "string"
						},
						"MU": {
							"type": "string"
						},
						"MT": {
							"type": "string"
						},
						"MW": {
							"type": "string"
						},
						"MV": {
							"type": "string"
						},
						"MQ": {
							"type": "string"
						},
						"MP": {
							"type": "string"
						},
						"MS": {
							"type": "string"
						},
						"MR": {
							"type": "string"
						},
						"IM": {
							"type": "string"
						},
						"UG": {
							"type": "string"
						},
						"TZ": {
							"type": "string"
						},
						"MY": {
							"type": "string"
						},
						"MX": {
							"type": "string"
						},
						"IL": {
							"type": "string"
						},
						"FR": {
							"type": "string"
						},
						"IO": {
							"type": "string"
						},
						"SH": {
							"type": "string"
						},
						"FI": {
							"type": "string"
						},
						"FJ": {
							"type": "string"
						},
						"FK": {
							"type": "string"
						},
						"FM": {
							"type": "string"
						},
						"FO": {
							"type": "string"
						},
						"NI": {
							"type": "string"
						},
						"NL": {
							"type": "string"
						},
						"NO": {
							"type": "string"
						},
						"NA": {
							"type": "string"
						},
						"VU": {
							"type": "string"
						},
						"NC": {
							"type": "string"
						},
						"NE": {
							"type": "string"
						},
						"NF": {
							"type": "string"
						},
						"NG": {
							"type": "string"
						},
						"NZ": {
							"type": "string"
						},
						"NP": {
							"type": "string"
						},
						"NR": {
							"type": "string"
						},
						"NU": {
							"type": "string"
						},
						"CK": {
							"type": "string"
						},
						"XK": {
							"type": "string"
						},
						"CI": {
							"type": "string"
						},
						"CH": {
							"type": "string"
						},
						"CO": {
							"type": "string"
						},
						"CN": {
							"type": "string"
						},
						"CM": {
							"type": "string"
						},
						"CL": {
							"type": "string"
						},
						"CC": {
							"type": "string"
						},
						"CA": {
							"type": "string"
						},
						"CG": {
							"type": "string"
						},
						"CF": {
							"type": "string"
						},
						"CD": {
							"type": "string"
						},
						"CZ": {
							"type": "string"
						},
						"CY": {
							"type": "string"
						},
						"CX": {
							"type": "string"
						},
						"CR": {
							"type": "string"
						},
						"CW": {
							"type": "string"
						},
						"CV": {
							"type": "string"
						},
						"CU": {
							"type": "string"
						},
						"SZ": {
							"type": "string"
						},
						"SY": {
							"type": "string"
						},
						"SX": {
							"type": "string"
						},
						"KG": {
							"type": "string"
						},
						"KE": {
							"type": "string"
						},
						"SS": {
							"type": "string"
						},
						"SR": {
							"type": "string"
						},
						"KI": {
							"type": "string"
						},
						"KH": {
							"type": "string"
						},
						"KN": {
							"type": "string"
						},
						"KM": {
							"type": "string"
						},
						"ST": {
							"type": "string"
						},
						"SK": {
							"type": "string"
						},
						"KR": {
							"type": "string"
						},
						"SI": {
							"type": "string"
						},
						"KP": {
							"type": "string"
						},
						"KW": {
							"type": "string"
						},
						"SN": {
							"type": "string"
						},
						"SM": {
							"type": "string"
						},
						"SL": {
							"type": "string"
						},
						"SC": {
							"type": "string"
						},
						"KZ": {
							"type": "string"
						},
						"KY": {
							"type": "string"
						},
						"SG": {
							"type": "string"
						},
						"SE": {
							"type": "string"
						},
						"SD": {
							"type": "string"
						},
						"DO": {
							"type": "string"
						},
						"DM": {
							"type": "string"
						},
						"DJ": {
							"type": "string"
						},
						"DK": {
							"type": "string"
						},
						"VG": {
							"type": "string"
						},
						"DE": {
							"type": "string"
						},
						"YE": {
							"type": "string"
						},
						"DZ": {
							"type": "string"
						},
						"US": {
							"type": "string"
						},
						"UY": {
							"type": "string"
						},
						"YT": {
							"type": "string"
						},
						"UM": {
							"type": "string"
						},
						"LB": {
							"type": "string"
						},
						"LC": {
							"type": "string"
						},
						"LA": {
							"type": "string"
						},
						"TV": {
							"type": "string"
						},
						"TW": {
							"type": "string"
						},
						"TT": {
							"type": "string"
						},
						"TR": {
							"type": "string"
						},
						"LK": {
							"type": "string"
						},
						"LI": {
							"type": "string"
						},
						"LV": {
							"type": "string"
						},
						"TO": {
							"type": "string"
						},
						"LT": {
							"type": "string"
						},
						"LU": {
							"type": "string"
						},
						"LR": {
							"type": "string"
						},
						"LS": {
							"type": "string"
						},
						"TH": {
							"type": "string"
						},
						"TF": {
							"type": "string"
						},
						"TG": {
							"type": "string"
						},
						"TD": {
							"type": "string"
						},
						"TC": {
							"type": "string"
						},
						"LY": {
							"type": "string"
						},
						"VA": {
							"type": "string"
						},
						"VC": {
							"type": "string"
						},
						"AE": {
							"type": "string"
						},
						"AD": {
							"type": "string"
						},
						"AG": {
							"type": "string"
						},
						"AF": {
							"type": "string"
						},
						"AI": {
							"type": "string"
						},
						"VI": {
							"type": "string"
						},
						"IS": {
							"type": "string"
						},
						"IR": {
							"type": "string"
						},
						"AM": {
							"type": "string"
						},
						"AL": {
							"type": "string"
						},
						"AO": {
							"type": "string"
						},
						"AQ": {
							"type": "string"
						},
						"AS": {
							"type": "string"
						},
						"AR": {
							"type": "string"
						},
						"AU": {
							"type": "string"
						},
						"AT": {
							"type": "string"
						},
						"AW": {
							"type": "string"
						},
						"IN": {
							"type": "string"
						},
						"AX": {
							"type": "string"
						},
						"AZ": {
							"type": "string"
						},
						"IE": {
							"type": "string"
						},
						"ID": {
							"type": "string"
						},
						"UA": {
							"type": "string"
						},
						"QA": {
							"type": "string"
						},
						"MZ": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Jsoninput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "jsoninput"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"BD": {
							"type": "string"
						},
						"BE": {
							"type": "string"
						},
						"BF": {
							"type": "string"
						},
						"BG": {
							"type": "string"
						},
						"BA": {
							"type": "string"
						},
						"BB": {
							"type": "string"
						},
						"WF": {
							"type": "string"
						},
						"BL": {
							"type": "string"
						},
						"BM": {
							"type": "string"
						},
						"BN": {
							"type": "string"
						},
						"BO": {
							"type": "string"
						},
						"BH": {
							"type": "string"
						},
						"BI": {
							"type": "string"
						},
						"BJ": {
							"type": "string"
						},
						"BT": {
							"type": "string"
						},
						"JM": {
							"type": "string"
						},
						"BV": {
							"type": "string"
						},
						"BW": {
							"type": "string"
						},
						"WS": {
							"type": "string"
						},
						"BQ": {
							"type": "string"
						},
						"BR": {
							"type": "string"
						},
						"BS": {
							"type": "string"
						},
						"JE": {
							"type": "string"
						},
						"BY": {
							"type": "string"
						},
						"BZ": {
							"type": "string"
						},
						"RU": {
							"type": "string"
						},
						"RW": {
							"type": "string"
						},
						"RS": {
							"type": "string"
						},
						"TL": {
							"type": "string"
						},
						"RE": {
							"type": "string"
						},
						"TM": {
							"type": "string"
						},
						"TJ": {
							"type": "string"
						},
						"RO": {
							"type": "string"
						},
						"TK": {
							"type": "string"
						},
						"GW": {
							"type": "string"
						},
						"GU": {
							"type": "string"
						},
						"GT": {
							"type": "string"
						},
						"GS": {
							"type": "string"
						},
						"GR": {
							"type": "string"
						},
						"GQ": {
							"type": "string"
						},
						"GP": {
							"type": "string"
						},
						"JP": {
							"type": "string"
						},
						"GY": {
							"type": "string"
						},
						"GG": {
							"type": "string"
						},
						"GF": {
							"type": "string"
						},
						"GE": {
							"type": "string"
						},
						"GD": {
							"type": "string"
						},
						"GB": {
							"type": "string"
						},
						"GA": {
							"type": "string"
						},
						"SV": {
							"type": "string"
						},
						"GN": {
							"type": "string"
						},
						"GM": {
							"type": "string"
						},
						"GL": {
							"type": "string"
						},
						"GI": {
							"type": "string"
						},
						"GH": {
							"type": "string"
						},
						"OM": {
							"type": "string"
						},
						"TN": {
							"type": "string"
						},
						"JO": {
							"type": "string"
						},
						"HR": {
							"type": "string"
						},
						"HT": {
							"type": "string"
						},
						"HU": {
							"type": "string"
						},
						"HK": {
							"type": "string"
						},
						"HN": {
							"type": "string"
						},
						"HM": {
							"type": "string"
						},
						"VE": {
							"type": "string"
						},
						"PR": {
							"type": "string"
						},
						"PS": {
							"type": "string"
						},
						"PW": {
							"type": "string"
						},
						"PT": {
							"type": "string"
						},
						"SJ": {
							"type": "string"
						},
						"PY": {
							"type": "string"
						},
						"IQ": {
							"type": "string"
						},
						"PA": {
							"type": "string"
						},
						"PF": {
							"type": "string"
						},
						"PG": {
							"type": "string"
						},
						"PE": {
							"type": "string"
						},
						"PK": {
							"type": "string"
						},
						"PH": {
							"type": "string"
						},
						"PN": {
							"type": "string"
						},
						"PL": {
							"type": "string"
						},
						"PM": {
							"type": "string"
						},
						"ZM": {
							"type": "string"
						},
						"EH": {
							"type": "string"
						},
						"EE": {
							"type": "string"
						},
						"EG": {
							"type": "string"
						},
						"ZA": {
							"type": "string"
						},
						"EC": {
							"type": "string"
						},
						"IT": {
							"type": "string"
						},
						"VN": {
							"type": "string"
						},
						"SB": {
							"type": "string"
						},
						"ET": {
							"type": "string"
						},
						"SO": {
							"type": "string"
						},
						"ZW": {
							"type": "string"
						},
						"SA": {
							"type": "string"
						},
						"ES": {
							"type": "string"
						},
						"ER": {
							"type": "string"
						},
						"ME": {
							"type": "string"
						},
						"MD": {
							"type": "string"
						},
						"MG": {
							"type": "string"
						},
						"MF": {
							"type": "string"
						},
						"MA": {
							"type": "string"
						},
						"MC": {
							"type": "string"
						},
						"UZ": {
							"type": "string"
						},
						"MM": {
							"type": "string"
						},
						"ML": {
							"type": "string"
						},
						"MO": {
							"type": "string"
						},
						"MN": {
							"type": "string"
						},
						"MH": {
							"type": "string"
						},
						"MK": {
							"type": "string"
						},
						"MU": {
							"type": "string"
						},
						"MT": {
							"type": "string"
						},
						"MW": {
							"type": "string"
						},
						"MV": {
							"type": "string"
						},
						"MQ": {
							"type": "string"
						},
						"MP": {
							"type": "string"
						},
						"MS": {
							"type": "string"
						},
						"MR": {
							"type": "string"
						},
						"IM": {
							"type": "string"
						},
						"UG": {
							"type": "string"
						},
						"TZ": {
							"type": "string"
						},
						"MY": {
							"type": "string"
						},
						"MX": {
							"type": "string"
						},
						"IL": {
							"type": "string"
						},
						"FR": {
							"type": "string"
						},
						"IO": {
							"type": "string"
						},
						"SH": {
							"type": "string"
						},
						"FI": {
							"type": "string"
						},
						"FJ": {
							"type": "string"
						},
						"FK": {
							"type": "string"
						},
						"FM": {
							"type": "string"
						},
						"FO": {
							"type": "string"
						},
						"NI": {
							"type": "string"
						},
						"NL": {
							"type": "string"
						},
						"NO": {
							"type": "string"
						},
						"NA": {
							"type": "string"
						},
						"VU": {
							"type": "string"
						},
						"NC": {
							"type": "string"
						},
						"NE": {
							"type": "string"
						},
						"NF": {
							"type": "string"
						},
						"NG": {
							"type": "string"
						},
						"NZ": {
							"type": "string"
						},
						"NP": {
							"type": "string"
						},
						"NR": {
							"type": "string"
						},
						"NU": {
							"type": "string"
						},
						"CK": {
							"type": "string"
						},
						"XK": {
							"type": "string"
						},
						"CI": {
							"type": "string"
						},
						"CH": {
							"type": "string"
						},
						"CO": {
							"type": "string"
						},
						"CN": {
							"type": "string"
						},
						"CM": {
							"type": "string"
						},
						"CL": {
							"type": "string"
						},
						"CC": {
							"type": "string"
						},
						"CA": {
							"type": "string"
						},
						"CG": {
							"type": "string"
						},
						"CF": {
							"type": "string"
						},
						"CD": {
							"type": "string"
						},
						"CZ": {
							"type": "string"
						},
						"CY": {
							"type": "string"
						},
						"CX": {
							"type": "string"
						},
						"CR": {
							"type": "string"
						},
						"CW": {
							"type": "string"
						},
						"CV": {
							"type": "string"
						},
						"CU": {
							"type": "string"
						},
						"SZ": {
							"type": "string"
						},
						"SY": {
							"type": "string"
						},
						"SX": {
							"type": "string"
						},
						"KG": {
							"type": "string"
						},
						"KE": {
							"type": "string"
						},
						"SS": {
							"type": "string"
						},
						"SR": {
							"type": "string"
						},
						"KI": {
							"type": "string"
						},
						"KH": {
							"type": "string"
						},
						"KN": {
							"type": "string"
						},
						"KM": {
							"type": "string"
						},
						"ST": {
							"type": "string"
						},
						"SK": {
							"type": "string"
						},
						"KR": {
							"type": "string"
						},
						"SI": {
							"type": "string"
						},
						"KP": {
							"type": "string"
						},
						"KW": {
							"type": "string"
						},
						"SN": {
							"type": "string"
						},
						"SM": {
							"type": "string"
						},
						"SL": {
							"type": "string"
						},
						"SC": {
							"type": "string"
						},
						"KZ": {
							"type": "string"
						},
						"KY": {
							"type": "string"
						},
						"SG": {
							"type": "string"
						},
						"SE": {
							"type": "string"
						},
						"SD": {
							"type": "string"
						},
						"DO": {
							"type": "string"
						},
						"DM": {
							"type": "string"
						},
						"DJ": {
							"type": "string"
						},
						"DK": {
							"type": "string"
						},
						"VG": {
							"type": "string"
						},
						"DE": {
							"type": "string"
						},
						"YE": {
							"type": "string"
						},
						"DZ": {
							"type": "string"
						},
						"US": {
							"type": "string"
						},
						"UY": {
							"type": "string"
						},
						"YT": {
							"type": "string"
						},
						"UM": {
							"type": "string"
						},
						"LB": {
							"type": "string"
						},
						"LC": {
							"type": "string"
						},
						"LA": {
							"type": "string"
						},
						"TV": {
							"type": "string"
						},
						"TW": {
							"type": "string"
						},
						"TT": {
							"type": "string"
						},
						"TR": {
							"type": "string"
						},
						"LK": {
							"type": "string"
						},
						"LI": {
							"type": "string"
						},
						"LV": {
							"type": "string"
						},
						"TO": {
							"type": "string"
						},
						"LT": {
							"type": "string"
						},
						"LU": {
							"type": "string"
						},
						"LR": {
							"type": "string"
						},
						"LS": {
							"type": "string"
						},
						"TH": {
							"type": "string"
						},
						"TF": {
							"type": "string"
						},
						"TG": {
							"type": "string"
						},
						"TD": {
							"type": "string"
						},
						"TC": {
							"type": "string"
						},
						"LY": {
							"type": "string"
						},
						"VA": {
							"type": "string"
						},
						"VC": {
							"type": "string"
						},
						"AE": {
							"type": "string"
						},
						"AD": {
							"type": "string"
						},
						"AG": {
							"type": "string"
						},
						"AF": {
							"type": "string"
						},
						"AI": {
							"type": "string"
						},
						"VI": {
							"type": "string"
						},
						"IS": {
							"type": "string"
						},
						"IR": {
							"type": "string"
						},
						"AM": {
							"type": "string"
						},
						"AL": {
							"type": "string"
						},
						"AO": {
							"type": "string"
						},
						"AQ": {
							"type": "string"
						},
						"AS": {
							"type": "string"
						},
						"AR": {
							"type": "string"
						},
						"AU": {
							"type": "string"
						},
						"AT": {
							"type": "string"
						},
						"AW": {
							"type": "string"
						},
						"IN": {
							"type": "string"
						},
						"AX": {
							"type": "string"
						},
						"AZ": {
							"type": "string"
						},
						"IE": {
							"type": "string"
						},
						"ID": {
							"type": "string"
						},
						"UA": {
							"type": "string"
						},
						"QA": {
							"type": "string"
						},
						"MZ": {
							"type": "string"
						},
						"sepalLength": {
							"type": "number"
						},
						"sepalWidth": {
							"type": "number"
						},
						"petalLength": {
							"type": "number"
						},
						"petalWidth": {
							"type": "number"
						},
						"species": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "jsonoutput"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobToSql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from csv to sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "ref_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "period",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 8
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "datavalue",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "emp_status",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "emp_subject",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "emp_group",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "emp_series1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "emp_series2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csv_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-30T22:42:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csv_dataset')]",
				"[concat(variables('factoryId'), '/datasets/sql_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyFilesToMultipleFolders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.outputFolders",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DSblobsource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DSblobsink",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DSblobsource",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"outputFolders": {
						"type": "array",
						"defaultValue": [
							"out1",
							"out2",
							"out3"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-01-04T23:50:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineCopyDemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "filePath",
										"value": "$$FILEPATH"
									},
									{
										"name": "fileName",
										"value": "$$FILENAME"
									},
									{
										"name": "modifiedOn",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSmoviesCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DScsvOut11",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineDeleteDemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "deleteFileBlob",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "out11"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": "2024-01-13T00:00:00.000Z",
								"modifiedDatetimeEnd": "2024-01-15T05:00:00.000Z",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/deleteFileBlob')]"
			]
		}
	]
}